body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:rgb(235, 232, 229);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    height: fit-content;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    padding-bottom: 20px;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    
}

header .first{
    display: flex;
    gap: 10px;
}

header input{
    margin-top: 20px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    padding-left: 5px;
}

header h3{
    margin: 0;
    margin-top: 10px;
    padding-right: 50px;
}

header button{
    cursor: pointer;
    margin-top: 25px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    transition: all 0.5s;
}

header button:hover{
    width: 150px;
    transition: all 0.5s;
}

main {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 66%;

}

.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: #e2dddd;
    padding: 0px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: transform 0.3s ease;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color:aliceblue;
    text-align: start;
}

.card span{
    padding-top: 10px;
}

.card:hover{
    transform: scale(1.05);
}

.card img{
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.detailedCard{
    width: 100%;
    height: 100vh;
}

.detailedFilter{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    gap: 15px;
    padding-left: 50px;
    text-align: center;
}

.filter{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    padding-left: 3px;
}

.detailedFilter input{
    width: 200px;
    height: 25px;
    border-radius: 10px;
    padding-left: 5px;
}

.detailedFilter button{
    width: 100px;
    border-radius: 10px;
    transition: all 0.5s;
}

.detailedFilter button:hover{
    width: 150px;
    transition: all 0.5s;
}

.texts{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}

.texts span{
    font-size: 20px;
}

.texts a{
    text-decoration: none;
    color: black;
    width: fit-content;
    font-size: 30px;
    margin-top: 30px;
    transition: all 0.5s;
    border: 1px solid black;
    padding-left: 15px;
    border-radius: 10px;
    width: 110px;
}

/* .texts a:hover{
    font-size: 35px;
    transition: all 0.5s;
} */

.allFilters{
    display: flex;
    gap: 20px;
    /* flex-wrap: wrap; */
    flex-direction: row;
    align-items: start;
    padding-bottom: 20px;
    width: fit-content;
    max-width: 0;
    max-height: 0;
    overflow: hidden;
}

.allFilters select{
    cursor: pointer;
    width: 150px;
    height: 30px;
    border-radius: 10px;
}

.spread{
    max-width: 1500px;
    max-height: fit-content;
    flex-wrap: wrap;
}

.littleDiv{
    display: flex;
    gap: 10px;
    flex-direction: row;
    text-align: center;
}

.littleDiv label{
    padding-top: 5px;
}

.flexwrap{
    flex-wrap: wrap;
}

.detailedCard{
    padding-top: 50px;
    padding-left: 20px;
    display: flex;
    gap: 50px;
}

.Details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Details span{
    display: flex;
    padding: 10px;
    text-align: center;
    width: fit-content;
    height: 25px;
    border: 1px solid black !important;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: transform 0.3s ease;
    background-color:aliceblue;
}

.detailedCardVisual{
    margin-top: 23px;
    transform: scale(1.15);
}

.detailedCardVisual:hover{
    transform: scale(1.15);  
}

.detailedCardVisual a{
    padding-left: 15px;
    border-radius: 10px;
    width: 80px;
}

.Register{
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: center;
}

.login{
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: center;
}

.forms{
    display: flex;
    gap: 50px;
}

.loginMain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.backgroundcolor{
    background-color: blueviolet;
}